/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    margin: 20px auto;
    max-width: 1200px;
}

/* Estilo de productos */
.producto {
    display: flex; /* Disposición horizontal */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    align-items: center; /* Alinea verticalmente el contenido */
    flex: 1 0 calc(50% - 20px); /* Ajusta el ancho para que haya dos productos por fila */
    margin: 10px;
    box-sizing: border-box;
}

.imagen {
    width: 500px; /* Ancho fijo del contenedor de la imagen */
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de las imágenes dentro del contenedor */
.imagen img {
    width: 100%; /* Ajusta el ancho de la imagen al contenedor */
    height: 100%; /* Ajusta la altura de la imagen al contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
}

.info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalle {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
    margin-left: 15px;
}

.etiqueta {
    font-weight: bold; /* Etiquetas en negrita */
    color: #333333;
}

.descripcion {
    font-size: 14px;
    color: #555555;
    text-align: justify;
    margin-top: 10px;
}

p {
    font-size: 16px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 0px;
}


/* Estilo de imagen */
.card img {
    max-width: 200px; /* Ajusta según el diseño */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilo de botones */
.btn-success {
    background-color: #4ebbc5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-success:hover {
    color: white;
    background-color: #2980b9;
}

/* Estilo de fila de productos (mostrar 4 por fila) */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

/* Estilo de encabezados y textos */
h1, h3 {
    margin-top: 10px;
    text-align: center;
}

h4, h5 {
    margin-top: 10px;
}

h3 {
    color: #333333;
}

h4 {
    text-align: center;
}

h5 {
    color: #555555;
    text-align: justify;
}

/* Estilo de filtro y ordenar */
#buscar,
#ordenar {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilo de fondo del resultado */
#res {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

/* Estilo de texto de enlace */
a {
    text-align: center;
    align-items: center;
    color: #4ebbc5;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2980b9;
}

h2 {
    color: white;
    text-align: center;
    background-color: #2980b9;
    margin-bottom: 5px;
    padding: 2px;
    border-radius: 5px;
    font-size: 22px;
}

/* Estilo para los filtros */
.filters-container {
    display: flex; /* Usar flexbox */
    align-items: center; /* Centrar verticalmente los elementos */
    background-color: #f0f0f0; /* Color de fondo */
    padding: 5px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 20px auto; /* Margen exterior */
    max-width: 900px; /* Ancho máximo */
    height: 60px; /* Altura fija del contenedor */
}

.filters-container select,
.filters-container input[type="text"],
.filters-container button {
    margin: 0 5px; /* Espaciado horizontal entre elementos */
    padding: 8px; /* Espaciado interno */
    border: 2px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    height: 40px; /* Altura uniforme para los elementos */
    box-sizing: border-box; /* Incluir el tamaño del borde y el relleno en el ancho y alto */
}

.filters-container select {
    min-width: 50px; /* Ancho mínimo del select */
}

.filters-container input[type="text"] {
    flex: 1; /* Expande para llenar el espacio restante */
    min-width: 200px; /* Ancho mínimo del input */
}

.filters-container button {
    min-width: 120px; /* Ancho mínimo del botón */
    background-color: #4ebbc5; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Eliminar borde del botón */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

#buscar{
    margin: 0px;
}

.filters-container button:hover {
    background-color: #3a9ca8; /* Color de fondo al pasar el ratón sobre el botón */
}

/* Accesibilidad */
.accessibility img {
    width: 50px;
    height: 50px;
}

.accessibility {
    position: fixed;
    display: flex;
    top: 20%;
    right: 130px;
    cursor: pointer;
    z-index: 200;
    transition: transform 0.5s ease;
}

.accessibility.moved {
    transform: translateX(calc(100% + 80px));
}

.BoxAccesibility {
    width: 160px;
    background-color: #238ac7;
    border-bottom-left-radius: 50px;
    position: fixed;
    right: 0px;
    top: 20.5%;
    z-index: 100;
    padding-left: 40px;
    padding-bottom: 10px;
    transition: opacity 0.5s ease;
    transition: transform 0.5s ease;
}

.BoxAccesibility.hidden {
    transform: translateX(100%);
}

.BoxAccesibility p {
    color: white;
    font-size: 10pt;
}

.centrado {
    text-align: center;
    width: 100%;
}
